* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
h1 {
    font-family: 'Didot';
    color: #2980B9;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}
.menu a {
    background-color: rgba(13, 92, 81, 0.616);
    color: white;
    text-decoration: none;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.menu a:hover {
    background-color: white;
    color: blue;
}
h2 {
    font-family: 'Didot';
    color: #2980B9;
    font-size: 30px;
    text-align: left;
    margin: 20px;
}
.first_section li{
    font-family: 'Didot';
    text-align: left;
    margin: 30px;
    list-style-type: none;
}